body{
    font-family: Hind;
    background-color: #F2F8FD;
    overflow-x: hidden;
}
.navbar{
 background-color: #F2F8FD !important;
}

.nav-one{
    margin-left: 18%;
}

.but-one{
    margin-right: 15%;
   
}
.two{
    border-radius: 30px 30px 30px 30px;
    width: 120px;
    background-color: #D9ECFC;
    color: #333333;
}

.first{
    margin-top:25%;
    font-size: 34px;
    color: #020202;
}

.img-one{
    width:130%;
    margin-top: 10%;
}

.bt-under{
    margin-top:10%;
    border-radius: 30px 30px 30px 30px;
    width: 30%;
    background-color: #D9ECFC;
    color: #333333;
}

.second{
    font-size: 34px;
    margin-top: 8%;
}

.img-two{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 4%;
}
